/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.menu ul li a{
	padding: 0!important;
}
/*header end*/
/*slider start*/
.slider{
	padding: 30px 0 50px;
}
.cid {
    bottom: -56px;
}
.slider_content h1{
	font-size: 28px;
}
.slider_content h2{
	font-size: 18px;
	margin: 20px 0; 
	padding-right: 0;
}
.slider_content ul li i{
	font-size: 30px;
	margin-top: 20px;
	padding-right: 15px;
}
/*slider end*/
/*feature start*/
.feature {
    padding: 50px 0;
}
.common_title{
	font-size: 28px;
}
.common_text{
	font-size: 16px;
	line-height: 20px;
}
.single{
	margin-top: 40px;
}
.single_text{
	text-align: center;
	margin-top: 15px;
}
.single_text h2{
	margin-bottom: 10px;
}
/*feature end*/
/*contact start*/
.contact{
	padding: 50px 0;
}
.myform button{
	margin-top:10px;
}
/*contact end*/
/*footer start*/
.footer_content{
	text-align: center;
}
/*footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a{
	padding: 0!important;
}
/*header end*/
/*slider start*/
.slider{
	padding: 30px 0 50px;
}
.cid {
    bottom: -56px;
}
.slider_content h2{
	padding-right: 120px;
}
.slider_content ul li i{
	font-size: 30px;
	margin-top: 25px;
	padding-right: 15px;
}
/*slider end*/
/*feature start*/
.feature {
    padding: 60px 0;
}
.common_text{
	font-size: 16px;
	line-height: 20px;
}
.single{
	margin-top: 40px;
}
.single_text{
	text-align: center;
	margin-top: 15px;
}
.single_text h2{
	margin-bottom: 10px;
}
/*feature end*/
/*contact start*/
.contact{
	padding: 60px 0;
}
/*contact end*/
/*footer start*/
.footer_content{
	text-align: center;
}
/*footer end*/

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a{
	padding: 0!important;
}
/*header end*/
/*slider start*/
.slider_content h2{
	padding-right: 0;
}
.slider_content ul li i{
	font-size: 35px;
	padding-right: 15px;
}
/*slider end*/
/*feature start*/
.common_text{
	font-size: 16px;
}
/*feature end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
