body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header start */
header{
	padding: 15px 0;
	background: #fcdb00;
}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
	color: #010101!important;
	padding: 0 35px!important;
	transition: 0.3s ease-in;
}
.menu ul li a:hover{
	color: #fff!important;
}
.menu ul li:last-child a{
	padding-right: 0!important;
}
/*header end*/
/*slider start*/
.slider{
	padding: 50px 0 100px;
	background: #fcdb00;
}
.cid{
	bottom: -80px;
}
.cid li{
	width: 12px;
    height: 12px;
    border-radius: 50%;
}
.slider_content h1{
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}
.slider_content h2{
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	margin: 25px 0;
	padding-right: 51px;
}
.slider_content p{
	color: #555555;
	margin: 0;
	line-height: 20px;
	word-spacing: 1px;
}
.slider_content ul li i{
	font-size: 42px;
	margin-top: 40px;
	padding-right: 30px;
	transition: 0.3s ease-in;
	cursor: pointer;
}
.slider_content ul li i:hover{
	color: #fff;
}
/*slider end*/
